PORT=5000
MONGO_URI=mongodb://vasanthkuma2004_db_user:6KJhjHIiAh7gy0Kp@ac-s54qahx-shard-00-00.nm74wgj.mongodb.net:27017,ac-s54qahx-shard-00-01.nm74wgj.mongodb.net:27017,ac-s54qahx-shard-00-02.nm74wgj.mongodb.net:27017/?ssl=true&replicaSet=atlas-c8jyi9-shard-0&authSource=admin&appName=green-room-db
JWT_SECRET=3affce7d3e264be61bbe10121987fb44a0860055282b12d0ec29abffcd21453b